<!DOCTYPE html>

<html>
<head>
    <title>Nouvelle Competition</title>
    <link rel='stylesheet' href='/stylesheets/styleFormulaireCompetition.css'/>
   <!-- <link rel='stylesheet' href='/node_modules/bootstrap-select/dist/css/bootstrap-select.min.css'/>-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" crossorigin="anonymous">
</head>
<body>
<!--<h1 class="title">Nouvelle Competition</h1>-->
<form class="text-center border border-light p-5" name="competition" method="POST" action="/competition/new">
    <table style="margin:auto">
        <tr>
            <% if (!failedFields) { var failedFields = []} %>
            <% if (!values) { var values = {}} %>
            <!--<td>Organisateur</td>-->
            <td>
                <p class="intro">Compétition</p>
                <input class="form-control mb-4" placeholder="Organisateur" type="text" id="competition-organisateur" name="organisateur" value=<%= values.name_organisateur %>>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <ul>
                    <% failedFields.filter((error) => error.path.join("/") === "name_organisateur").forEach((error) => { %>
                        <li><%= error.message %></li>
                    <% }) %>
                </ul>
            </td>
        </tr>
        <tr>
            <!--<td>Nom de la compétition</td>-->
            <td><input class="form-control mb-4" placeholder="Nom de la compétition" type="text" id="competition-name" name="name" value=<%= values.name %>></td>
        </tr>
        <tr>
            <td colspan="2">
                <ul>
                    <% failedFields.filter((error) => error.path.join("/") === "name").forEach((error) => { %>
                        <li><%= error.message %></li>
                    <% }) %>
                </ul>
            </td>
        </tr>
        <tr>
           <!-- <td>Nombre de participant</td>-->
          <!--  <td><input class="form-control mb-4" min=0 max=16 step=2 placeholder="Nombre de participant" onchange="mafunction()" type="number" id="competition-nbparticipant" name="nbparticipant" value=<%= values.nb_participant %>></td>-->
            <td>
                <div class="dropdown bootstrap-select">
                    <select class="form-control" id="competition-nbparticipant" name="nbparticipant" placeholder="toto">
                        <option value="" disabled selected>nombre de participant</option>
                        <option>4</option>
                        <option>6</option>
                        <option>8</option>
                        <option>10</option>
                        <option>12</option>
                        <option>14</option>
                        <option>16</option>
                    </select>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <ul>
                    <% failedFields.filter((error) => error.path.join("/") === "nbparticipant").forEach((error) => { %>
                        <li><%= error.message %></li>
                    <% }) %>
                </ul>
            </td>
        </tr>
        <tr>
            <td id="wheremettrelesparticipants">

            </td>
        </tr>
        <tr>
            <td colspan="2"><input id="btn" class="btn btn-info btn-block my-4" type="submit" value="Go"></td>
        </tr>

    </table>
</form>
<<<<<<< develop
=======
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.min.js"></script>-->
>>>>>>> modif design
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
<!--<script rel='stylesheet' href='/node_modules/bootstrap-select/dist/js/bootstrap-select.min.js'/>-->

</body>
</html>

<script>
    $('select').on('change', function() {
        const nbParticipant = document.getElementById('competition-nbparticipant').value;
        const divOUajoute =document.getElementById('wheremettrelesparticipants');
        const divToajoute = '<input class="form-control mb-4" placeholder="Nom participant" type="text" id="participant-name">'
        var totaleAjout = ""

        for(i=0;i<nbParticipant;i++){
            console.log(i)
            totaleAjout+=divToajoute
        }
        divOUajoute.innerHTML =  totaleAjout
    });
</script>