<!DOCTYPE html>
<html>
<head>
    <title>Nouvelle Competition</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1 class="title">Nouvelle Competition</h1>
<form name="competition" method="POST" action="/competition/new">
    <table>
        <tr>
            <% if (!failedFields) { var failedFields = []} %>
            <% if (!values) { var values = {}} %>
            <td>Organisateur</td>
            <td><input type="text" id="competition-organisateur" name="organisateur" value=<%= values.name_organisateur %>></td>
        </tr>
        <tr>
            <td colspan="2">
                <ul>
                    <% failedFields.filter((error) => error.path.join("/") === "name_organisateur").forEach((error) => { %>
                        <li><%= error.message %></li>
                    <% }) %>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Nom de la compétition</td>
            <td><input type="text" id="competition-name" name="name" value=<%= values.name %>></td>
        </tr>
        <tr>
            <td colspan="2">
                <ul>
                    <% failedFields.filter((error) => error.path.join("/") === "name").forEach((error) => { %>
                        <li><%= error.message %></li>
                    <% }) %>
                </ul>
            </td>
        </tr>
        <tr>
            <td>nombre de participant</td>
            <td><input type="number" id="competition-nbparticipant" name="nbparticipant" value=<%= values.nb_participant %>></td>
        </tr>
        <tr>
            <td colspan="2">
                <ul>
                    <% failedFields.filter((error) => error.path.join("/") === "nbparticipant").forEach((error) => { %>
                        <li><%= error.message %></li>
                    <% }) %>
                </ul>
            </td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Go"></td>
        </tr>
    </table>
</form>
</body>
</html>