<!DOCTYPE html>
<html>
<head>
    <title>Compétitions</title>
</head>
<body>
<ul class="matchup" onclick="document.getElementById('id<%= match.id %>').style.display='block'">
    <li class="team team-top"  <% if(match.p1 != null && match.p1==match.vainqueur) { %> style="background-color:green;" <% } %>><% if(match.p1 != null) { %> <%= match.player1.name %> <% } %><span class="score"><%= match.score1 %></span></li>
    <li class="team team-bottom" <% if(match.p2 != null && match.p2==match.vainqueur) { %> style="background-color:green;" <% } %> ><% if(match.p2 != null) { %> <%= match.player2.name %> <% } %><span class="score"><%= match.score2 %></span></li>
</ul>

<% if(match.p1 !== null && match.p2 !== null && match.vainqueur === null){ %>
<!-- The Modal -->
<div id="id<%= match.id %>" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close" onclick="document.getElementById('id<%= match.id %>').style.display='none'">&times;</span>
        <form method="POST" action="/competition/<%= competitions.id %>">
                <input type="hidden" name="match_id" value="<%= match.id %>"/>
                <p id="myplayoff">MyPlayOff</p>
                <input id="radio" type="radio" value="<%= match.player1.id %>" name="vainqueur" checked><p id="match-off"><%= match.player1.name %></p><input id="radio1" type="radio" value="<%= match.player2.id %>" name="vainqueur"><p id="match-off2"><%= match.player2.name %></p>
                <p id="vainqueur">Choisissez le vainqueur</p>
                <input id="button5" type="submit" name="fin_modal" value="Valider">
        </form>
    </div>
</div>
<%}%>
</body>
</html>
<style>
    #radio, #match-off, #radio1, #match-off2{
        display: inline-block;
    }

    #radio, #radio1{
        width: 2.5%;
        height: 2.5%;
        /* margin-left: 45%;*/
    }
    form{
        text-align: center;
    }
    #button5{
        letter-spacing: 1px;
        font-size: 1em;
        font-weight: bold;
        color: #5CCA87;
        background-color: #434343;
        border-color: #434343;
    }

    #vainqueur{
        text-align: center;
    }
    .modal-content{
        background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
    }
    #myplayoff {
        color: #5CCA87;
        text-align: center;
       /* width: 150%; */
        font-family: 'Holtwood One SC', serif;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 1.5em;
    }
    form p {
        position: relative; /* permet de positionner la checkbox cachée */
    }

</style>