<ul class="matchup" onclick="document.getElementById('id<%= match.id %>').style.display='block'">
    <li class="team team-top"><% if(match.p1 != null) { %> <%= match.player1.name %> <% } %><span class="score"><%= match.score1 %></span></li>
    <li class="team team-bottom"><% if(match.p2 != null) { %> <%= match.player2.name %> <% } %><span class="score"><%= match.score2 %></span></li>
</ul>
<!-- The Modal -->
<div id="id<%= match.id %>" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close" onclick="document.getElementById('id<%= match.id %>').style.display='none'">&times;</span>
        <table>
            <tr><th><% if(match.p1 != null) { %> <%= match.player1.name %> <% } %></th><th><% if(match.p2 != null) { %> <%= match.player2.name %> <% } %></th></tr>
            <tr><td><p>Score 1 : <input type="number"/></p></td><td><p>Score 2 : <input type="number"/></td></tr>
            <tr><td><button>Vainqueur</button></td><td><button>Vainqueur</button></td></tr>
        </table>
    </div>
</div>