<ul class="matchup" onclick="document.getElementById('id<%= match.id %>').style.display='block'">
    <li class="team team-top"><% if(match.p1 != null) { %> <%= match.player1.name %> <% } %><span class="score"><%= match.score1 %></span></li>
    <li class="team team-bottom"><% if(match.p2 != null) { %> <%= match.player2.name %> <% } %><span class="score"><%= match.score2 %></span></li>
</ul>
<!-- The Modal -->
<div id="id<%= match.id %>" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close" onclick="document.getElementById('id<%= match.id %>').style.display='none'">&times;</span>
        <form method="POST" action="/competition/<%= competitions.id %>">
            <input type="hidden" name="match_id" value="<%= match.id %>"/>
            <table>
                <tr><th><% if(match.p1 != null) { %> <%= match.player1.name %> <% } %></th><th></th><th><% if(match.p2 != null) { %> <%= match.player2.name %> <% } %></th></tr>
                <tr><td><p>Score 1 : <input type="number" name="score1"/></p></td><td> </td><td><p>Score 2 : <input type="number" name="score2"/></td></tr>
                <tr><td><input type="radio" value="<%= match.player1.id %>" name="vainqueur"></td><td> </td><td><input type="radio" value="<%= match.player2.id %>" name="vainqueur"></td></tr>
                <tr><td> </td><td><input type="submit" name="fin_modal" value="désignez le vainqueur"></td><td> </td></tr>
            </table>
        </form>
    </div>
</div>