<ul class="matchup" onclick="document.getElementById('id<%= match.id %>').style.display='block'">
    <li class="team team-top"  <% if(match.p1 != null && match.p1==match.vainqueur) { %> style="background-color:green;" <% } %>><% if(match.p1 != null) { %> <%= match.player1.name %> <% } %><span class="score"><%= match.score1 %></span></li>
    <li class="team team-bottom" <% if(match.p2 != null && match.p2==match.vainqueur) { %> style="background-color:green;" <% } %> ><% if(match.p2 != null) { %> <%= match.player2.name %> <% } %><span class="score"><%= match.score2 %></span></li>
</ul>

<% if(match.p1 != null && match.p2 != null){ %>
<!-- The Modal -->
<div id="id<%= match.id %>" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close" onclick="document.getElementById('id<%= match.id %>').style.display='none'">&times;</span>
        <form method="POST" action="/competition/<%= competitions.id %>">
            <input type="hidden" name="match_id" value="<%= match.id %>"/>
            <table>
                <tr><td><p>Choisissez le vainqueur : </p></td><td><input type="radio" value="<%= match.player1.id %>" name="vainqueur"><%= match.player1.name %></td><td> </td><td><input type="radio" value="<%= match.player2.id %>" name="vainqueur"><%= match.player2.name %></td></tr>
                <tr><td> </td><td><input type="submit" name="fin_modal" value="désignez le vainqueur"></td><td> </td></tr>
            </table>
        </form>
    </div>
</div>
<%}%>